@model IEnumerable<BLL.DTOModels.ProductDto>

@{
    ViewData["Title"] = "Товары";
}

<div class="md:col-span-3 grid grid-cols-1 md:grid-cols-3 gap-2">
    @foreach (var product in Model)
    {
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="@product.ImageUrl" alt="@product.Name" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-lg font-bold text-gray-800">
                    @product.Name
                </h2>
                <p class="mt-2 text-gray-600">@product.Description</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">$@product.Price</span>
                    <a href="@Url.Action("Details", "Product", new { id = @product.Id })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>
    }
</div>
