@using Microsoft.AspNetCore.Identity;
@using DLL.Models

@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="md:col-span-3 p-4">
    <div>
        <img src="/770X443.jpg" alt="Большая картинка" />
    </div>
    <div class="w-max">
        <h2 class="text-lg border-b-2 border-solid border-gray-600 font-bold mt-8">МОНИТОРЫ BENQ</h2>
    </div>
    <div class="md:col-span-3 grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/BenQ-MOBIUZ-EX2510S-HDR10-FreeSync-165-Hz-IPS-Gaming-Monitor-300x300.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">BenQ WQ23OP3 27″ 16:9 4K IPS Monitor</h2>
                <p class="mt-2 text-gray-600">27″ 16:9 4K IPS Monitor</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $169.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 1 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
            </a>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/BenQ-PD2705Q-DesignVue-Designer-HDR-IPS-Monitor-300x300.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <a href="@Url.Action("Details", "Product", new { id = 1 })">
                    <h2 class="text-xl font-bold text-gray-800">BenQ PD2705Q DesignVue Designer 27″ 16:9 HDR IPS Monitor</h2>
                    <p class="mt-2 text-gray-600">27″ 16:9 4K IPS Monitor</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="font-bold text-gray-800">Цена: $109.99</span>
                        <a href="@Url.Action("Details", "Product", new { id = 2 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                    </div>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/BenQ-Zowie-XL2566K-25-Inch-E-Sports-Gaming-Monitor-300x300.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <a href="@Url.Action("Details", "Product", new { id = 1 })">
                    <h2 class="text-xl font-bold text-gray-800">BenQ Zowie XL2566K 25 Inch E-Sports Gaming Monitor</h2>
                    <p class="mt-2 text-gray-600">25 Inch E-Sports Gaming Monitor</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="font-bold text-gray-800">Цена: $259.99</span>
                        <a href="@Url.Action("Details", "Product", new { id = 3 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                    </div>
            </div>
        </div>
    </div>
    <div>
        <div class="md:col-span-3 grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <img src="/Intel-Processor.jpg" alt="Alternate Text" />
            </div>
            <div>
                <img src="/AMD-Processor.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div>
    <div class="w-max">
        <h2 class="text-lg border-b-2 border-solid border-gray-600 font-bold mt-8">ПИТАНИЕ ОТ COOLER MASTER</h2>
    </div>
    <div class="md:col-span-3 grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/cooler1.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">Cooler Master MWE 750 V2 80 Plus Bronze SMPS MPE-7501-ACABW-BIN MPE-7501-ACABW-BI</h2>
                <p class="mt-2 text-gray-600">80 Plus Bronze SMPS MPE-7501-ACABW-BIN MPE-7501-ACABW-BI</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $69.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 7 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/cooler2.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">Cooler Master MWE Gold 750 V2 Full Modular SMPS MPE-7501-AFAAG-IN</h2>
                <p class="mt-2 text-gray-600">750 V2 Full Modular SMPS MPE-7501-AFAAG-IN</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $79.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 8 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/cooler3.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">Cooler Master MWE 850 Watt 80 Plus V2 Gold Fully Modular Power Supply MPE-8501-AFAAG-IN</h2>
                <p class="mt-2 text-gray-600">Watt 80 Plus V2 Gold Fully Modular Power Supply MPE-8501-AFAAG-IN</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $59.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 9 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="md:col-span-3 grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <img src="/Logitech-Products.jpg" alt="Alternate Text" />
            </div>
            <div>
                <img src="/Razer-Products.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div>
    <div class="w-max">
        <h2 class="text-xl border-b-2 border-solid border-gray-600 mt-8 font-bold text-black mb-4">ГОРЯЧЕЕ ПРЕДЛОЖЕНИЕ</h2>
    </div>
    <div class="md:col-span-3 grid grid-cols-1 md:grid-cols-3 rounded-lg p-4 gap-8">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/cl-p117-ca14bl-a_02-300x300.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">Thermaltake TOUGHAIR 710 Black CPU Cooler CL-P117-CA14BL-A TOUGHAIR 710</h2>
                <p class="mt-2 text-gray-600">710 Black CPU Cooler CL-P117-CA14BL-A CPU Cooler CL-P117-CA14BL-A</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $109.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 13 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/cmk16gx4m1e3200c16-image-01-600x600-1-300x300.png" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">Corsair Vengeance LPX 16GB (16GBx1) 3200MHz DDR4 Desktop Memory</h2>
                <p class="mt-2 text-gray-600">16GB (16GBx1) 3200MHz DDR4 CMK16GX4M1E3200C16</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $39.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 14 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>

        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/Radeon-RX-7900-GRE-Challenger-16GB-OCL2-300x300.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">Asrock AMD Radeon RX 7900 GRE Challenger 16GB OC Graphic Card RX7900GRE CL 16GO</h2>
                <p class="mt-2 text-gray-600">Challenger 16GB OC Graphic Card RX7900GRE CL 16GO</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $459.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 15 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-max">
        <h2 class="text-xl border-b-2 border-solid border-gray-600 mt-8 font-bold text-black">ПАМЯТЬ ОТ CORSAIR</h2>
    </div>
    <div class="md:col-span-3 grid grid-cols-1 md:grid-cols-3 rounded-lg p-4 gap-8">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/corsair1.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">Corsair Vengeance LPX 64GB (2 x 32GB) DDR4 DRAM 3600MHz C18 Memory Kit – Black CMK64GX4M2D3600C18</h2>
                <p class="mt-2 text-gray-600">(2 x 32GB) DDR4 DRAM 3600MHz C18 Memory Kit</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $159.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 16 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/corsair2.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">CORSAIR Vengeance LPX 16GB DDR4 3600MHz Memory CMK16GX4M1Z3600C18 LPX 16GB DDR4 3600MHz Memory</h2>
                <p class="mt-2 text-gray-600">16GB DDR4 3600MHz Memory LPX 16GB DDR4 3600MHz Memory</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $99.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 17 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>

        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/corsair3.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">Corsair Vengeance 64GB (2x32GB) DDR5 6000MHz C40 Black Memory Kit CMK64GX5M2B6000C40</h2>
                <p class="mt-2 text-gray-600">64GB (2x32GB) DDR5 6000MHz C40 Black Memory Kit</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $259.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 18 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="my-4" src="~/corsair-smps-banner.jpg" alt="Alternate Text" />
        <div class="md:col-span-3 grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <img src="/Wireless-Mouse.jpg" alt="Alternate Text" />
            </div>
            <div>
                <img src="/Mechanical-Keyboard.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div>
    <div class="w-max">
        <h2 class="text-xl border-b-2 border-solid border-gray-600 mt-4 font-bold text-black mb-4">ПРОЦЕССОРЫ AMD</h2>
    </div>
    <div class="md:col-span-3 grid grid-cols-1 md:grid-cols-3 rounded-lg p-4 gap-8">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/amd1.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">
                    AMD Ryzen 7 5700 Desktop Processor AMD Radeon 3.6 GHz Socket AM4 65W Graphics Processor 100-000000743BOX
                </h2>
                <p class="mt-2 text-gray-600">AMD Ryzen 7 5700</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $309.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 19 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/amd2.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">AMD Ryzen 5 5500GT Ryzen 5 5000 Series 6-Core 3.6 GHz Socket AM4 65W AMD Radeon Graphics Processor 100-100001489BOX</h2>
                <p class="mt-2 text-gray-600">AMD Ryzen 5 5500GT Ryzen 5 5000 Series</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $409.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 20 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>

        <div class="bg-white shadow-lg rounded-lg overflow-hidden product-card">
            <img src="/amd3.jpg" alt="Продукт" class="w-full h-54 object-cover">
            <div class="p-4">
                <h2 class="text-xl font-bold text-gray-800">AMD Ryzen 7 5700X3D Ryzen 7 5000 Series 8-Core 3.0 GHz Socket AM4 105W Processor 100-100001503WOF</h2>
                <p class="mt-2 text-gray-600">AMD Ryzen 7 5700X3D Ryzen 7 5000 Series</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="font-bold text-gray-800">Цена: $459.99</span>
                    <a href="@Url.Action("Details", "Product", new { id = 21 })" class="px-4 py-2 text-white rounded bg-gray-800 hover:bg-black-600">Купить</a>
                </div>
            </div>
        </div>
    </div>
</div>
